.find-screen {
  margin-bottom: 100px;
}
.repository-create {
  margin: 50px 0px;
  padding: 20px;
  border: var(--main-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #151b23;
}
.repository-create__title {
  font-size: 17px;
  color: #3174da;
}
.repository-create span {
  text-align: center;
  margin: 20px 0px;
  font-size: 15px;
  color: #738c8c;
  line-height: 20px;
}
.repository-create__form {
  display: flex;
  flex-direction: column;
}
.repository-create__form > #name {
  padding: 5px 120px 5px 10px;
  color: #738c8c;
  background-color: #151b23;
  border: var(--main-border);
  border-radius: 10px;
  margin: 10px;
}
.repository-create__form-btn {
  background-color: var(--yellow);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.repository-create__form-radio {
  margin: 10px 0px;
}
.open-chat {
  margin-top: 25px;
  padding: 20px;
  border: var(--main-border);
  background-color: #151b23;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.open-chat__header span {
  color: #3174da;
}
.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #738c8c;
  margin-bottom: 20px;
}
.explore__column-profile {
  display: flex;
  align-items: flex-start;
}
.explore__column-profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.explore__title {
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 25px;
}
.explore__subtitle {
  font-size: 15px;
  color: #738c8c;
  margin: 20px 0px 20px 30px;
}
.explore__members {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #738c8c;
}
.explore__members i {
  margin-right: 10px;
  color: #738c8c;
}
.explore__members-circle {
  width: 20px;
  height: 20px;
  background-color: var(--yellow);
  border-radius: 50%;
  margin: 0px 10px 0px 30px;
}
