#friends-display_link {
  text-align: center;
  display: block;
  background-color: #151b23;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: -10px;
  color: #3174da;
}

.user-component,
.friends-screen__find {
  padding: 0px var(--horizontal-space);
}
.user-component__column {
  padding: 7px 0px;
}
.user-component:hover {
  background-color: #151b23;
}
.friends-screen__find {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 20px;
}
.friends-screen_find-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-screen_find-header input {
  width: 100%;
  background-color: #151b23;
  padding: 10px;
  border: none;
  color: white;
  position: relative;
}
.friends-screen_find-header i {
  position: absolute;
  right: 35px;
}
@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.friends-screen {
  margin-bottom: 100px;
}

#splash-screen {
  background-color: #151b23;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 0.2s ease-in-out forwards;
  animation-delay: 1s;
  z-index: 7;
}
